# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Data\Dokumente\FH\4.Semester\SWP\UE5-MediatorAndObserver_Langela_Riegler\gol\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
